<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{cabecalho :: head('Cadastrar cliente')}"></header>
<body>
	<div class="container mt-3">
		<h3 class="text-center">Cadastro de Músicas</h3>
		<hr>
		<form th:object="${musicaDto}" action="/cadastrarMusica" method="POST">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Nome</span> <input
							th:errorclass="is-invalid" type="text" th:field="*{nome}"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{nome}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Artista</span> <input type="text"
							th:field="*{artista}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{artista}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Gênero</span> <input
							type="text" th:field="*{genero}"
							th:errorclass="is-invalid" class="form-control">
						<div class="invalid-feedback" th:errors="*{genero}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Duração</span> <input type="text"
							th:field="*{duracao}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{duracao}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Álbum</span> <input type="text"
							th:field="*{album}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{album}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Gravadora</span> <input type="text"
							th:field="*{gravadora}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{gravadora}"></div>
					</div>
				</div>



			</div>
			<div class="d-grid gap-2 col-4 mx-auto">

				<input class="btn btn-dark" type="submit" value="Cadastrar" />

				<a class="btn btn-dark" href="musica">Visualizar Lista de
					músicas</a>

			</div>
		</form>

	</div>
</body>
</html>